[Unit]
Description=Try local Restic Prune every hour from 06:30 to 23:30

[Timer]
OnCalendar=*-*-* 06..23:30:00
Unit=lprune.service
Persistent=true

[Install]
WantedBy=timers.target

