[Unit]
Description=Run remote restic backup if /local/Restic/config exists

[Service]
Type=oneshot
ExecStart=/bin/bash -c 'if [ -d /local/Restic/config ]; then /local/Restic/bin/rbackup.sh; fi'
