[Unit]
Description=Run DNS check every 10 minutes

[Timer]
OnBootSec=5min
OnUnitActiveSec=10min
Unit=check-VPN-DNS.service

[Install]
WantedBy=timers.target
